.corpo{
    background-color: darkblue;
    color: rgb(6, 105, 3);
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: rgb(114, 0, 0);
}
#imagem-estudante{
    border: dashed 10px rgb(0, 0, 0);
    width: 500px;
    height: 300px;
}
p{
    color:white;
    font-size: 20px;
}

#link{
    color: red;
    text-decoration: none;
}

#link:hover{ 
    color: rgb(225, 240, 12);
    font-size: 15px;
}