.corpo{
    background-color: darkblue;
    color: black;
    text-align: center;
    border: 20px;
    border-style: hidden;
    border-color: rgb(250, 250, 250);
}
#imagem-estudante{}
p{
    color:white;
    font-size: 20px;
}

#link{
    color: red;
    text-decoration: none;
}

#link:hover{ 
    color: rgb(225, 240, 12);
    font-size: 15px;
}