.corpo{
    background-color: darkblue;
    color: black;
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: blue;
}

p{
    color: orange;
    font-size: 20px;
}

#link{
    color: red;
    text-decoration: none;
}

#link:hover{ 
    color: rgb(225, 240, 12);
    font-size: 15px;
}